<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
    <style>
        .types {
            color: black;
            font-family: arial;
            background: beige;
         }
    </style>
</head>
<body>
<h1>Урок 1</h1>
<h2>Знакомство с языком</h2>
<div class="types">
    <p>Привет! В этом уроке мы начнем изучать Java</p>
    <a href="https://job4j.ru/profile/exercise/183/task-view/919">Ссылка</a> - По этой ссылке можно ознакомиться с азами
    HTML5
    <p>Java является строго типизированным языком программирования.<br>
        Это значит, что каждая переменная имеет определенный тип,<br>
        который строго определен и неизменяем.
    </p>
    <p>
        <a href="https://www.besplatnyeprogrammy.ru/java.html#download">
            <img src="Java.png" alt="Java" width="200">
        </a>
    </p>
</div>
</body>
</html>